body {
    padding-top: 70px;
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.img-thumbnail {
    margin: 2%;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.4),
                0 8px 13px rgba(0, 0, 0, 0.1),
                0 18px 23px rgba(0, 0, 0, 0.1);
}

.jumbotron {
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.4),
                0 8px 13px rgba(0, 0, 0, 0.1),
                0 18px 23px rgba(0, 0, 0, 0.1);
}

.card {
    
    margin: 2%;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.4),
                0 8px 13px rgba(0, 0, 0, 0.1),
                0 18px 23px rgba(0, 0, 0, 0.1);
}

